<div id="header" data-chapter={{chapterId}} data-problem={{problemId}}>
    <h1>Problem {{problemId}} of {{problemCount}}</h1>
	<button id="prev-button" onclick="goToPreviousProblem({{chapterId}}, {{problemId}})">Prev</button>
    <button id="next-button" onclick="goToNextProblem({{chapterId}}, {{problemId}}, {{problemCount}})">Next</button>
</div>
<div id="problem-and-answers">
    <!--<div id="problem">-->
    <!--<ul id="problem-slots">-->
    <!--{{#each problem.slots}}-->
    <!--<li class="text-slot answer-slot" ondrop="drop(event)" ondragover="allowDrop(event)">{{this.init}}</li>-->
    <!--{{/each}}-->
    <!--</ul>-->
    <!--</div>-->
    <div id="question">
        {{{problem.question}}}
    </div>
    <div id="answers">
        <ul id="answer-slots">
            {{#each problem.choices}}
            <li class="text-slot answer-key" draggable="true" ondragstart="drag(event)">
                {{this}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>