<div id="progressdiv">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawing"></svg>
</div>
<div id="header" data-chapter={{chapterId}} data-problem={{problemId}}>
	<button id="prev-button" onclick="goToPreviousProblem({{chapterId}}, {{problemId}})">Prev</button>
    <button class="answers-button" id="check-answers-button" onclick="checkAnswers()">Check Answers</button>
    <button class="answers-button" id="reset-answers-button" onclick="resetAnswers()">Reset Answers</button>
    <button id="next-button" onclick="goToNextProblem({{chapterId}}, {{problemId}}, {{problemCount}})">Next</button>
</div>
<div id="problem-and-answers">
    <div id="question">
        {{{problem.question}}}
    </div>
	<br><br>
    <div id="answers">
        <ul id="answer-slots">
            {{#each problem.choices}}
            <li class="text-slot answer-key" draggable="true" ondragstart="drag(event)">
                {{this}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>